<div id="nav_header">
  <div class="left">
    <%= link_to "Home", root_path %>
    <% if Rails.env.development? %>
      <%= link_to "Debug", debug_path %>
    <% end %>
  </div>
  <div class="right">
    <% if user_signed_in? %>
      <b><%= current_user.email %></b>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %><br />
    <% end %>
  </div>
</div>

<!-- vim: set ts=2 sw=2: -->
